# Our local environment changes will go here
export DB_CASRECMIGRATION_HOST=localhost
export DB_CASRECMIGRATION_PORT=6666
export DB_CASRECMIGRATION_NAME=casrecmigration
export DB_CASRECMIGRATION_USER=casrec  # pragma: allowlist secret
export DB_CASRECMIGRATION_PASSWORD=casrec  # pragma: allowlist secret
export DB_SIRIUSAPI_HOST=localhost
export DB_SIRIUSAPI_PORT=55555
export DB_SIRIUSAPI_NAME=api
export DB_SIRIUSAPI_USER=api  # pragma: allowlist secret
export DB_SIRIUSAPI_PASSWORD=api  # pragma: allowlist secret
export DB_SIRIUSAPI_PGPASSWORD=api  # pragma: allowlist secret

export DOCKER_CASRECDB_CONTAINER_NAME=opg-data-casrec-migration_casrec_db_1
export ENVIRONMENT=local
