export DB_USER=casrec
export DB_PASSWORD=casrec # pragma: allowlist secret
export DB_NAME=casrecmigration
export DB_HOST=localhost
export DB_PORT=6666
export SIRIUS_DB_USER=api
export SIRIUS_DB_PASSWORD=api # pragma: allowlist secret
export SIRIUS_DB_NAME=api
export SIRIUS_DB_HOST=localhost
export SIRIUS_DB_PORT=5555
export ENVIRONMENT=local
