export DB_PASSWORD=casrec  # pragma: allowlist secret
export DB_HOST=localhost
export DB_PORT=6666
export DB_NAME=casrecmigration
export ENVIRONMENT=local
export CSV_FILE_PATH=../../data/anon_data
export LOCALSTACK_URL=localhost
